#game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.square{
    width: 100%;
    height: 33vh;
}
@media only screen and (min-width: 1000px) {
    #game {
        width: 50vw;
        margin-left: 20vw;
    }
  }